/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --color-primary: #f38181;
  --color-secondary: #fce38a;
  --color-tertiary: #eaffd0;
  --color-quaternary: #95e1d3;
  --white: #ffffff;
  --dark: #000000;
  --grey: #bebebe;
  --transparent: transparent;
  --font-main: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --font-tertiary: "Kaushan Script", cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: var(--font-main);
  font-size: var(--font-small);
  padding: 24px;
  background-color: var(--quinary-bg-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-size: 12px;
  color: var(--grey);
}

a {
  text-decoration: none;
}

.txt--label {
  color: var(--black);
  font-family: var(--font-secondary);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
}
.txt--centered {
  text-align: center;
}
.txt--italic {
  font-style: italic;
}

.link--primary {
  color: var(--color-primary);
}
.link--primary:hover {
  color: var(--color-quaternary);
}
.link--bold {
  font-weight: 700;
}

.btn {
  cursor: pointer;
  font-family: var(--font-secondary);
  height: 40px;
  width: -moz-fit-content;
  width: fit-content;
}
.btn--uppercase {
  text-transform: uppercase;
}
.btn--medium {
  font-size: 12px;
  padding: 8px 12px;
}
.btn--large {
  font-size: 14px;
  padding: 12px 32px;
}
.btn--fw-bold {
  font-weight: 700;
}
.btn--primary--outlined {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  transition: background-color 0.2s ease, border-color 0.2s ease;
}
.btn--primary--outlined:hover {
  background-color: var(--color-primary);
  border-color: none;
}
.btn--secondary--filled {
  background: var(--color-quaternary);
  border: 1px solid transparent;
  color: var(--white);
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}
.btn--secondary--filled:hover {
  background-color: transparent;
  border-color: var(--color-quaternary);
  color: var(--color-quaternary);
}

.input {
  height: 40px;
  width: 100%;
  padding: 8px;
  border: 1px solid var(--grey);
  outline: none;
}
.input--medium {
  font-size: 14px;
}
.input::-moz-placeholder {
  color: var(--grey);
  font-style: italic;
}
.input::placeholder {
  color: var(--grey);
  font-style: italic;
}

.label--hidden {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

.section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.section__header {
  background-image: linear-gradient(to bottom, rgba(242, 130, 130, 0.79), rgba(252, 227, 138, 0.733)), url("./assets/backgrounds/heroBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}
@media screen and (min-width: 1200px) {
  .section__header {
    height: 800px;
  }
}
.section__title {
  font-family: var(--font-secondary);
}
.section__title--medium {
  font-size: 18px;
}
.section__title--medium::after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  margin: 24px auto 40px;
  background-color: var(--color-primary);
}
.section__title--large {
  font-size: 48px;
}
@media screen and (min-width: 1200px) {
  .section__title--large {
    font-size: 104px;
  }
}
.section__subtitle {
  font-family: var(--font-tertiary);
  margin-bottom: 8px;
}
.section__subtitle--medium {
  font-size: 16px;
}
.section__subtitle--large {
  font-size: 24px;
}
@media screen and (min-width: 1200px) {
  .section__subtitle--large {
    font-size: 48px;
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  padding: 24px;
  position: relative;
}
.container__header {
  width: 100%;
  align-items: initial;
  color: var(--white);
}
@media screen and (min-width: 1200px) {
  .container__header {
    height: 800px;
  }
}
.container__employees {
  max-width: 830px;
}
.container__footer {
  width: 100%;
}

.nav__menu-button {
  display: block;
  position: absolute;
  background-color: var(--white);
  height: 4px;
  width: 30px;
  border-radius: 2px;
  top: 40px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .nav__menu-button {
    display: none;
  }
}
.nav__menu-button::before, .nav__menu-button::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--white);
  height: 4px;
  width: 30px;
  border-radius: 2px;
  cursor: pointer;
}
.nav__menu-button::before {
  margin-top: -8px;
}
.nav__menu-button::after {
  margin-top: 8px;
}
.nav__list {
  display: flex;
  flex-flow: row nowrap;
}
@media screen and (min-width: 1200px) {
  .nav__list {
    align-items: center;
    gap: 32px;
    font-family: var(--font-secondary);
    font-size: 14px;
    height: 32px;
    padding-left: 0;
    list-style-type: none;
    text-transform: uppercase;
  }
}
.nav__item {
  display: none;
}
@media screen and (min-width: 1200px) {
  .nav__item {
    display: block;
    position: relative;
    cursor: pointer;
  }
  .nav__item::after {
    content: "";
    background: var(--color-tertiary);
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s ease-in-out;
  }
  .nav__item:hover::after {
    width: 100%;
  }
}
.nav__link {
  color: var(--white);
  font-weight: 400;
  transition: color 0.2s ease;
}
.nav__link:hover {
  color: var(--color-tertiary);
}
.nav__icon {
  height: 14px;
  width: 14px;
  fill: var(--white);
  transition: fill 0.2s ease;
}
.nav__icon:hover {
  fill: var(--color-tertiary);
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px 20px;
}
@media screen and (min-width: 1200px) {
  .grid {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}
.grid .grid__item {
  display: flex;
  min-width: 0;
  gap: 16px;
}
.grid .grid__item .item__svg {
  height: 24px;
  width: 24px;
}
.grid .grid__item .item__svg--primary {
  fill: var(--color-quaternary);
}

.cards__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}
.cards__list .card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .cards__list .card {
    position: relative;
    transform: rotate(0deg);
  }
  .cards__list .card:hover .card__icon-bar {
    display: flex;
    position: absolute;
    top: calc(50% - 12px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cards__list .card:hover .card__img {
    box-shadow: 8px 8px 0px 0px var(--color-quaternary);
    transform: translateY(-6px);
  }
  .cards__list .card:hover .card__picture::after {
    display: flex;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-6px);
    background: linear-gradient(to bottom, rgba(242, 130, 130, 0.79), rgba(252, 227, 138, 0.733));
  }
}
.cards__list .card__picture {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .cards__list .card__picture {
    margin-bottom: 16px;
  }
  .cards__list .card__picture::after {
    display: none;
  }
}
.cards__list .card__img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1200px) {
  .cards__list .card__img {
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}
.cards__list .card__icon-bar {
  display: flex;
}
@media screen and (min-width: 1200px) {
  .cards__list .card__icon-bar {
    display: none;
  }
}
.cards__list .card__link {
  height: 32px;
  width: 32px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .cards__list .card__link {
    height: 40px;
    border-right: 1px solid var(--color-primary);
    width: 40px;
    background-color: var(--color-secondary);
    transition: background-color 0.2s ease;
  }
  .cards__list .card__link:last-of-type {
    border: none;
  }
  .cards__list .card__link:hover {
    background-color: var(--color-primary);
  }
  .cards__list .card__link:hover .card__svg {
    fill: var(--color-secondary);
  }
}
.cards__list .card__svg {
  height: 16px;
  width: 16px;
  fill: var(--color-primary);
  transition: fill 0.2s ease;
}
@media screen and (min-width: 1200px) {
  .cards__list .card__svg {
    height: 24px;
    width: 24px;
  }
}

.header__logo {
  height: 16px;
}
.header__nav {
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.header__main {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__title {
  margin: 24px 0 32px;
}
@media screen and (min-width: 1200px) {
  .header__title {
    margin: 24px 0 64px 0;
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-flow: column-reverse wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-top: 8px;
  border-top: 1px solid var(--grey);
}
@media screen and (min-width: 1200px) {
  .footer {
    flex-flow: row wrap;
  }
}
.footer__form {
  font-family: var(--font-secondary);
  display: flex;
  flex-flow: row nowrap;
}
.footer__copyright {
  font-family: var(--font-secondary);
  font-size: 12px;
  font-weight: 500;
  color: var(--black);
}/*# sourceMappingURL=main.css.map */